\.env
\.env.*
!.env.example

.git
.github
.idea
.claude
.vscode
.nova
.zed
.codex
.cursor

docker
docker-compose*.yml

node_modules
vendor

tests
.phpunit.result.cache
.phpunit.cache

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

*.md
LICENSE
